@media (min-width: 1024px) {

  .AddAutobusPage {
    height: 90vh;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #395b94;
  }

  .Loading {
    height: 10vh;
    margin-left: 2vw;
  }

  .AutobusForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #395b94;
    border-radius: 10px;
    padding: 8vw;
  }
  
  .AutobusInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .rfidInput {
    background-color: #f6f6f6;
    border: 3px solid #395b94;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 5vh;
    width: 20vw;
    font-size: medium;
  }

  .nameInput {
    background-color: #f6f6f6;
    border: 3px solid #395b94;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 5vh;
    width: 20vw;
    font-size: medium;
    margin-bottom: 16px;
  }
  
  h6 {
    color: red;
    margin: 1px;
  }
  
  .SubmitAutobus {
    align-self: flex-end;
    background-color: #395b94;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
    color: #f6f6f6;
    border: none;
    font-family: Gilroy-Medium,Helvetica,Arial,sans-serif;
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  .SubmitAutobus:hover {
    cursor: pointer;
    background-color: #3382ba;
  }

  .Formik {
    align-self: flex-start;
  }

  .label {
    font-family: Gilroy-Medium,Helvetica,Arial,sans-serif;
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #395b94;
    font-weight: bold;
    margin-top: 20px;
  }

}