@media (max-width: 1200px) {

  .AboutPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
  }
  
  h1 {
    color: #f6f6f6;
  }
  
  .namefield {
    margin-top: 64px;
    background-color: #395b94;
    width: 80vw;
    border-radius: 10px;
  }
  
  .DisconnectButton {
    margin-top: 16px;
    margin-bottom: 32px;
    background-color: #395b94;
    color: #f6f6f6;
    border: none;
    padding: 3vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .DisconnectButton:active {
    background-color: #3382ba;
    cursor: pointer;
  }

}