@media (min-width: 1200px) {

  .AboutPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #f6f6f6;
  }
  
  .namefield {
    margin-top: 5%;
    background-color: #395b94;
    width: 30vw;
    border-radius: 10px;
  }
  
  .DisconnectButton {
    margin-top: 5%;
    background-color: #395b94;
    color: #f6f6f6;
    border: none;
    padding: 3vh;
    border-radius: 10px;
    font-size: larger;
  }
  
  .DisconnectButton:hover {
    cursor: pointer;
    background-color: #3382ba;
  }
  
  .DisconnectButton:active {
    background-color: #3382ba;
    cursor: pointer;
  }


}