@media (max-width: 1200px) {

  .HistoriquePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
  }

  .TableauHistorique {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .LigneHistorique {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #395b94;
  }

  .LigneHistoriqueTop {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #395b94;
    border-top: hidden;
    font-weight: bolder;
  }  

}