@media (min-width: 1200px) {

  .HistoriquePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .TableauHistorique {
    width: 1024px;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
  }

  .LigneHistorique {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #395b94;
    border-top: hidden;
  }
  
  .LigneHistoriqueTop {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #395b94;
    border-top: hidden;
    font-weight: bolder;
  }  

}