@media (max-width: 1023px) {

  .HistoriquePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .TableauHistorique {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .LigneHistorique {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #395b94;
  }

}