@media (min-width: 1200px) {

  .EditAutobusPage {
    height: 1000px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .DeleteAutobus {
    background-color: #cc3f3f;
    color: black;
    height: 8vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    border-radius: 16px;
    align-self: center;
  }

  .DeleteAutobus:hover {
    cursor: pointer;
  }

  .EditAutobusTop {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .EditAutobusBottom {
    display: flex;
    width: 1024px;
  }

  .ChargeurSelect {
    border: 3px solid #395b94;
    border-radius: 16px;
    padding: 8px;
    height: fit-content;
    align-self: center;
  }

}