@media (max-width: 1023px) {

  .EditAutobusPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .DeleteAutobus {
    background-color: #cc3f3f;
    color: black;
    height: 8vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    border-radius: 16px;
  }

  .DeleteAutobus:hover {
    cursor: pointer;
  }

}