@media (min-width: 1200px) {

  .ChargeurComponent {
    color: #f6f6f6;
    background-color: #395b94;
    border: 3px solid #395b94;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 15vh;
    width: 440px;
    font-size: x-large;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px
  }

  .ChargeurComponent:hover {
    cursor: pointer;
    background-color: #3382ba;
    border: 3px solid #3382ba;
  }

  .NameChargeur {

  }

  .StateChargeur {
    height: calc(15vh + 6px);
    font-size: 2vh;
    width: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }

}