@media (min-width: 1200px) {

  .ChargeurComponent {
    color: #f6f6f6;
    background-color: #3382ba;
    border: 3px solid #3382ba;
    border-radius: 10px;
    height: 128px;
    width: 256px;
    font-size: x-large;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 16px
  }

  .ChargeurComponent:hover {
    background-color: #395b94;
    border: 3px solid #395b94;
  }

  .NameChargeur {
    margin-top: 16px;
  }

  .ChargeurComponentBottom {
    margin-top: 16px
  }

  .StateChargeur {
    width: 262px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .ChargeurComponentAutobusName {
    font-size: large;
  }

}