@media (min-width: 1200px) {

  .ChargeurPage {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 4vh;
  }

  .AddChargeur {
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    font-size: 4vh;
    background-color: #5ea453;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
  }

  .AddChargeur:hover {
    cursor: pointer;
    background-color: #22C55E;
  }

  .ListeChargeur {
    width: 1024px;
    justify-self: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}