@media (max-width: 1023px) {

  .ChargeurPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .AddChargeur {
    height: 300px;
    width: 300px;
    background-color: #5ea453;
    color: #f6f6f6;
  }

}