@media (min-width: 1024px) {

  .AutobusPage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
  }

  .AddAutobus {
    height: 300px;
    width: 300px;
    background-color: #5ea453;
    color: #f6f6f6;
  }

}