@media (max-width: 1023px) {

  .AutobusPage {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 4vh;
  }

  .AddAutobus {
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    font-size: 4vh;
    background-color: #5ea453;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
  }

  .AddAutobus:hover {
    cursor: pointer;
    background-color: #22C55E;
  }

  .ListeAutobus {
    width: 960px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
}