@media (max-width: 1200px) {

  .AutobusPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4vh;
  }

  .AddAutobus {
    height: 4vh;
    width: 80vw;
    border-radius: 1vh;
    font-size: 3vh;
    background-color: #5ea453;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    margin-bottom: 8vh;
  }

  .AddAutobus:hover {
    cursor: pointer;
    background-color: #22C55E;
  }

  .ListeAutobus {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
}