@media (min-width: 1200px) {

  .AutobusComponent {
    color: #f6f6f6;
    background-color: #395b94;
    border: 3px solid #395b94;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 15vh;
    width: 440px;
    font-size: x-large;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px
  }

  .AutobusComponent:hover {
    background-color: #3382ba;
    border: 3px solid #3382ba;
  }

  .NameAutobus {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(15vh + 6px);
  }

  .AutobusConnected {
    font-size: large;
  }

  .AutobusContainerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .StateAutobus {
    background-color: grey;
    height: calc(15vh + 6px);
    font-size: 3vh;
    width: 4vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .AutobusBatteryLevel {
    font-weight: 600;
    margin-right: -8px;
    width: 64px;
  }
    
}